<h4 class="ui center aligned medium icon header">
    <i class="circular orange user icon"></i> Users
</h4>
<div id="users" class="ui cards centered align">
  <% @users.each do |user| %>
    <div class="ui card">
      <div class="content">
        <%= link_to user.username, user_path(user), class: "header"%> 
        <div class="meta">
          <span class="date">Joined <%= time_ago_in_words(user.created_at) %> ago</span>
        </div>
        <div class="description">
          <%= user.bio %>
        </div>
      </div>
</div>
  <% end %>
</div>

