<h1 class="ui centered grid">Sign Up</h1>

<div class="ui two column centered grid">
<%= render "form", user: @user %>
</div>

<div class="ui centered grid">
  <%= link_to "[ Back to users ]", users_path  %>
</div>
